html {
    height: 100%
}

body {
    height: 100%
}

.maxHeight{
    height:100%
}

.maxWidth{
    width: 100%
}

.overHidden{
    overflow : hidden;
}

.displayFlex{
    display: flex;
}

#balanceCont{
    height: 63px;
}

#balance {
    padding : 0 8px;
}

#balance > .dialBtn{
    margin: 12px 0 0 8px;
}