<md-dialog aria-label="List dialog">
      <md-dialog-content layout="column" layout-fill layout-wrap
                         layout-margin layout-align="center stretch" >

          <md-input-container flex>
              <label>Description</label>
              <input ng-model="dialogDescription">
          </md-input-container>

          <md-datepicker flex
                         ng-model="dialogExpiryDate"
                         md-placeholder="Expiry date">
          </md-datepicker>

          <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink"
                     ng-model="isDaily">
              Is Daily?
          </md-switch>


      </md-dialog-content>

      <md-dialog-actions layout="row" layout-align="space-around center">

          <md-button ng-click="saveNew()" class="md-primary">
              Save
          </md-button>

          <md-button ng-click="cancelDialog()" class="md-primary">
              Cancel
          </md-button>

      </md-dialog-actions>

    </md-dialog>,