<md-content  class="maxHeight" layout="row" id="mainCont">

    <div class="maxHeight" flex="60" flex-offset="20"
         flex-xs="100" flex-offset-xs="0">

        <div class="maxHeight" layout="column" layout-fill id="interfaceContainer">

            <md-toolbar id="headerToolbar" flex="none">
                <div class="md-toolbar-tools">
                    <span>My App's Title</span>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>

                    <md-button ng-click="test()" class="md-raised md-primary">
                        {{langConf.menu.day}}
                    </md-button>

                    <md-button ui-sref="dev" class="md-raised md-primary">
                        {{langConf.menu.week}}
                    </md-button>

                    <md-button ui-sref="login" class="md-raised md-primary">
                        <!--{{langConf.menu.month}}-->
                        LOGIN
                    </md-button>
                </div>
            </md-toolbar>

            <div id="headerBalance" flex="none" class="md-toolbar-tools">

                <!--<div layout="row" class="maxWidth">

                    <span flex>{{langConf.balance.balance}}</span>

                    <span flex></span>

                    <span flex>{{balance.icon}}</span>

                    <span flex>{{balance.value | number:2}}</span>

                </div>-->

                <span>{{langConf.balance.balance}}</span>

                <span flex></span>

                <span>{{balance.icon}}</span>

                <span>{{balance.value | number:2}}</span>

                <md-button ng-click="openSettings()" class="md-icon-button" aria-label="Open sample menu">
                    <md-icon>&#xE5D4;</md-icon>
                </md-button>

                <!--<div layout="row" class="maxHeight maxWidth">

                    <span>{{langConf.balance.balance}}</span>

                    <span flex></span>

                    <span>{{balance.icon}}</span>

                    <span>{{balance.value | number:2}}</span>

                </div>-->

            </div>

            <div class="homeShell overHidden displayFlex" flex>

                <div class="maxWidth" layout="column">
                    <div flex="nogrow">
                        <md-content id="homeButtons" layout="row" layout-align="space-betwen center">

                            <md-button ui-sref="home.buy" flex="33">
                                {{langConf.tabs.buy}}
                            </md-button>

                            <md-button ui-sref="home.tasks" flex>
                                {{langConf.tabs.tasks}}
                            </md-button>

                            <md-button  ui-sref="home.money" flex>
                                {{langConf.tabs.money}}
                            </md-button>

                        </md-content>
                    </div>
                    <div class="displayFlex" flex ui-view></div>
                </div>


            </div>

            <div flex="5" style="background-color: #9E9E9E"></div>

            <!--<div class="homeShell" flex={{uiConfig.flex}}>

                <md-content id="homeButtons" layout="row" layout-align="space-betwen center">

                    <md-button ui-sref="home.buy.actual" flex="33">
                        {{langConf.tabs.buy}}
                    </md-button>

                    <md-button ui-sref="home.tasks.actual" flex>
                        {{langConf.tabs.tasks}}
                    </md-button>

                    <md-button  ui-sref="home.money" flex>
                        {{langConf.tabs.money}}
                    </md-button>

                </md-content>

                <div ui-view></div>

            </div>-->


        </div>

    </div>


</md-content>