<div layout="column" layout-wrap layout-fill>

    <form name="addNewMoneyItem">

        <div flex>

            <div layout="row" layout-wrap layout-fill>

                <md-input-container flex="100">

                    <label>Enter Description</label>
                    <input type="text" ng-model="dialogName">

                </md-input-container>

                <md-input-container flex-offset="40" flex="initial">

                    <label>Enter Description</label>
                    <input type="number" ng-model="dialogAmount">

                </md-input-container>

            </div>

        </div>

        <div flex>

            <md-button ng-click="saveNew()">
                Save
            </md-button>

            <md-button ng-click="cancelDialog()">
                Cancel
            </md-button>

        </div>

    </form>

</div>