<div class="maxWidth" layout="column">

    <!--<div flex="none" id="balanceCont">

        <div id="balance" layout="row" layout-fill>

            <p class="md-title">Available money</p>

            <span flex></span>

            <p class="md-title">{{money | number:2}}</p>

            <md-button ng-click="setAvalableMoney()" class="md-icon-button dialBtn"
                       aria-label="Open sample menu">
                <md-icon>&#xE5D4;</md-icon>
            </md-button>

        </div>

    </div>-->

    <div class="displayFlex" flex>
        <div class="maxWidth" layout="row">

            <div class="displayFlex" flex="50">
                <div class="maxWidth" layout="column"  ui-view="dohod"></div>
            </div>

            <div flex="50" ui-view="rashod"></div>

        </div>
    </div>

</div>





<!--<div class="maxWidth" layout="row" layout-wrap>

    <div flex="100">

        <div id="balance" layout="row" layout-fill>

            <p class="md-title">Available money</p>

            <span flex></span>

            <p class="md-title">{{money | number:2}}</p>

            <md-button ng-click="setAvalableMoney()" class="md-icon-button dialBtn"
                       aria-label="Open sample menu">
                <md-icon>&#xE5D4;</md-icon>
            </md-button>

        </div>

    </div>

    <div flex="50" ui-view="dohod"></div>

    <div flex="50" ui-view="rashod"></div>
</div>-->